body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  main {
    padding: 20px;
  }
  #currentWeather, #forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    padding: 10px
  }
  
  #currentWeather > div, #forecast > div {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #currentWeather img, #forecast img {
    display: flex;
    flex-wrap: wrap;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
  }
  
  
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  button.history {
    background-color: #28a745;
  }
  
  button.history:hover {
    background-color: #218838;
  }
  